/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: rgb(10, 173, 10);
  --light-color: rgb(240, 243, 242);
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}

.product {
  padding: 5px;
  border-radius: 10px;
}
.product:hover {
  box-shadow: var(--shadow);
}

.category img {
  height: 300px;
  object-fit: cover;
}

.category {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.category:hover img {
  transform: scale(1.1);
}

/* .product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
} */

.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.form-control:focus {
  background-color: var(--light-color);
  border-color: var(--light-color);
  box-shadow: 0 0 0 0.25rem rgba(10, 173, 10, 0.25);
}

.forget-link {
  text-decoration: none;
}
.forget-link:hover {
  text-decoration: underline;
}
